.card-container {
  background-color: white;
  padding: 24px;
  box-shadow: 0 0 16px rgba(0,0,0,0.3);
}

.card-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  position: relative;
}

.card-info-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-info img {
  height: 360px;
  width: 360px;
  object-fit: cover;
  object-position: 60% 50%;
  margin-right: 24px;
}

#card-heart {
  position: absolute;
  top: 16px;
  left: 16px;
  color: pink;
  font-size: 24px;
}

.card-stars {
  color: orange;
  font-size: 24px;
}

.card-stars li {
  margin: 4px;
}

.card-video {
  width: 100%;
  margin-bottom: 24px;
}

.card-footer {
  display: flex;
  /* gap: 24px; */
}

.card-footer img {
  height: 200px;
  width: 100px;
  object-fit: cover;
  flex-grow: 1;
  margin-right: 24px;
}

.card-footer img:last-child {
  margin-right: 0px;
}